# Python virtual environment
homework/haversine/.venv

# Test data for haversine problem; github has a file size limit of 100MB
homework/haversine/data/data_10000000_flex.json

# sim86
homework/sim86/src/**/.vs
homework/sim86/src/**/bin
homework/sim86/src/**/obj
